<div class="row">
    <div class="col s6 m3 l2">
        <img src="http://openweathermap.org/img/w/<%= weather[0].icon %>.png">
        <h5 class="temp"><%= main.temp %> °C</h5>
    </div>
    <span class="col s6 m3 l2 valign-wrapper"><span><%= name %></span></span>
    <span class="otherGroup col s12 m4 l3">
        <span class="">Humidity: <%= main.humidity %>%</span>
        <span class="">Pressure: <%= main.pressure %></span>
    </span>
</div>