h5.temp{
    color:#777;
    position: relative;
    float: left;
    /* margin-right: 21px; */
    /* min-width: 123px; */
    text-align: center;
    /* margin-top: 11px; */
    font-weight: bold;
    font-size: 22px;
    width: 100%;
}
i#backBtn {
    font-size: 32px;
    float: left;
    color: #777;
    margin: 10px 0px;
    width: 30px;
    cursor: pointer;
    padding: 3px;
    margin-right: 10px;
}
.cityName{
    float: left;
    margin: 10px 0px;
    font-size: 24px;
}
.collection-item{
    cursor: pointer;
}
.collection-item span {
    /* cursor: pointer; */
    font-size: 20px;
    line-height: 50px;
}

li.collection-item:hover {
    background: #eee;
}

.collection-item img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 3px solid #eee;
    background: #eee;
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 50%;
    left: -25px;
}
.collection-item .row {
    margin: 0px;
}
span.minMax {
    font-size: 14px;
    color: #999;
    float: left;
    position: relative;
    line-height: 32px;
    width: 100%;
    text-align: center;
}
span.group {
    /* position: relative; */
    /* float: left; */
    /* width: 150px; */
    margin-top: 20px;
}
.dateGroup .date {
    position: relative;
    float: left;
    color: #f5406f;
    line-height: 30px;
    margin-top: 12px;
    width: 100%;
    text-align: center;
}
.dateGroup .day {
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    text-align: center;
}
.dateGroup {
    width: 81px;
    position: relative;
    float: left;

}
span.otherGroup {
    position: relative;
    float: left;
    margin-top: 9px;
    text-align: center;
}

.otherGroup span {
    position: relative;
    float: left;
    /* width: 100%; */
    line-height: 24px;
    color: #999;
    font-size: 16px;
    width: 50%;
}
.minMax span.max {
    font-size: 14px;
    color: #333;
}
.minMax span.min {
    font-size: 14px;
    color: #999;
}
.darker{
    color: #999
}
@media only screen and (min-width: 601px){
    .otherGroup span{
        width: 100%;
        text-align: left;
    }
    .dateGroup{
        margin-top: 18px
    }
}